a.DeleteButtonIcon {
  color: #bbb;
  cursor: pointer;

  display: flex;
  align-items: center;
  height: 24px;

  transition: 0.2s;
}

a.DeleteButtonIcon:hover {
  color: #f66;
}

div.ConfirmDelete {
  display: none;
}

div.ConfirmDelete_visible {
  display: flex;
  gap: 8px;
}

div.ConfirmDelete button {
  padding: 2px 4px;
}
