ul.FilterWrapper {
  display: flex;
  margin: 10px 50px 50px;
  gap: 8px;
  flex-wrap: wrap;
}

li.FilterItem {
  list-style-type: none;
  cursor: pointer;

  font-size: 14px;

  color: #369336;
  background-color: #60b86035;

  padding: 4px 8px;

  border: 1px solid #60b860;
  border-radius: 8px;

  transition: 0.2s;
}

li.FilterItem:hover {
  background-color: #60b86070;
}

li.FilterItem_active {
  color: #fff;
  background-color: #60b860;
}

li.FilterItem_active:hover {
  color: #fff;
  background-color: #369336;
  border: 1px solid #369336;
}
