* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-image: url("/background.png");
  height: 100svh;
  padding: 0;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

input,
select {
  padding: 4px;
  margin-left: 8px;
  border-radius: 8px;
  border: none;
  background-color: #f6f6f6;
}

label {
  font-size: 14px;
}

button[type="submit"] {
  cursor: pointer;

  font-size: 16px;

  color: #fff;
  background-color: #60b860;

  padding: 8px 12px;

  border: 1px solid #60b860;
  border-radius: 8px;

  transition: 0.2s;
}

button[type="submit"]:hover {
  background-color: #369336;
  border: 1px solid #369336;
}
